@tailwind base;
@tailwind components;
@tailwind utilities;
/*
beides funktioniert, änderungen werden von input.css in output.css übernommen aber auf der Seite nicht umgesetzt.
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';*/

.meineKlasse h2 {
    color: rgb(226, 43, 171);
    font-size: 20px;
    font-weight: bolder;
    font-style: italic;
}