@tailwind base;
@tailwind components;
@tailwind utilities;
/*
beides funktioniert, änderungen werden von input.css in output.css übernommen aber auf der Seite nicht umgesetzt.
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';*/

.meineKlasse {
    font-size: 3rem;
    font-weight: bold;
    -webkit-text-fill-color: transparent;
    background: linear-gradient(0deg, rgb(239, 5, 118) 0%, rgb(56, 134, 125) 100%);
    -webkit-background-clip: text;
}

.niceTitle {
    font-weight: bold;
    font-size: 2rem;
}