@tailwind base;
@tailwind components;
@tailwind utilities;
/*
beides funktioniert, änderungen werden von input.css in output.css übernommen aber auf der Seite nicht umgesetzt.
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';*/

.niceTitle {
    font-family: Pacifico;
    font-style: italic;
}

@media (min-width: 200px) {
    .xs\:text-3xl {
        font-size: 2rem
            /* 30px */
        ;
        line-height: 2rem
            /* 36px */
        ;
    }
}